.streamlit/secrets.toml

__pycache__/
*.pyc
.venv/
venv/
indictrans_env/
.env

Fake.csv
True.csv
cleaned_news_dataset.csv
final_news_dataset.csv

app_backup_working.py
evaluation.py
external_test.py
fake_news_detection.py
predict.py
save_model.py
test_translation.py
train_improved.py

random_forest_improved.pkl
tfidf_vectorizer_improved.pkl